@import './variables/globals.scss';
@import './normalize.scss';

* {
  box-sizing: border-box;
}

body {
  background: var(--bg-main-black);
  font-family: var(--fira-code-family);
  color: var(--secondary-white);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-pearl);
}

.svg-icon {
  fill: var(--secondary-gray);
  width: 24px;
  position: absolute;
  margin-left: 16px;
  margin-top: 10px;
}
