.popupContainer {
  position: fixed;
  right: 10px;
  border-radius: 8px;
  background: linear-gradient(150deg, rgba(23, 85, 83, 0.70) 1.7%, rgba(67, 217, 173, 0.09) 81.82%);
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.30) inset;
  top: 16px;
  width: 120px;
  animation: slideInOut 5s ease-in-out;
  transform: translateX(140px);
}

.succes {
  color: var(--accent-green);
  text-align: center;
}

.error {
  color: var(--accent-pink);
  text-align: center;
}

@keyframes slideInOut {
  0%, 20%, 80%, 100% {
    transform: translateX(150%);
  }
  25%, 75% {
    transform: translateX(0);
  }
}
