.topLeft {
  position: absolute;
  top: 5px;
  left: 5px;
}

.topRight {
  position: absolute;
  top: 5px;
  right: 2px;
}

.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.bottomRight {
  position: absolute;
  bottom: 0;
  right: 2px;
}
