.inputContainer {
  position: relative;
}

.input {
  background: var(--input-bg);
  box-shadow: 1px 5px 11px 0px var(--box-shadow) inset;  
  color: var(--secondary-white);
  border: 1px solid var(--input-border);
  border-radius: 5px;
  padding: 12px 0 12px 64px;
  width: 100%;
  transition: all ease-in 0.2s;

  &:hover {
    border: 1px solid var(--input-borderHover);
    + .icon {
      fill: var(--secondary-lightGray);
    }
  }

  &::placeholder {
    color: var(--secondary-gray);
  }

  &:focus {
    outline: 0;
    background: var(----input-focus);
    box-shadow: 1px 5px 11px 0px var(--box-shadow) inset;
    border: 1px solid var(--input-borderHover);
    &::placeholder {
      color: var(--secondary-lightGray);
    }
    + .icon {
      fill: var(--secondary-lightGray);
    }
  }

  &::-webkit-autofill {
    background: transparent;
  }
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.icon {
  fill: var(--secondary-gray);
  width: 24px;
  position: absolute;
  left: 0;
  margin-left: 16px;
  margin-top: 10px;
  transition: all ease-in 0.2s;
}